<tr id="<%= dom_id item %>">
  <td class="my-5 text-left"><%= item.name %></td>
  <td class="my-5 text-right"><%= item.sell_in %></td>
  <td class="my-5 text-right"><%= item.quality %></td>
  <td class="my-5 text-right">
    <%= link_to 'Edit this item', edit_item_path(item), class: "rounded-lg mx-5 py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  </td>
</tr>
